<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Cadastrar Departamentos</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" href="/execucao/listar" role="button">
                <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
                <span>Listar Departamentos</span>
            </a>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <div th:replace="fragments/alert"></div>

        <form th:action="@{/execucao/consultar}"
              th:object="${execucao}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mesExtratoInicio">Mes Extrato Inicio</label>
                    <input type="text" class="form-control" id="mesExtratoInicio"
                           placeholder="Mes Extrato Inicio" autofocus="autofocus"
                           data-mask="00/0000"
                           th:field="*{mesExtratoInicio}"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="mesExtratoFim">Mes Extrato Fim</label>
                    <input type="text" class="form-control" id="mesExtratoFim"
                           data-mask="00/0000"
                           placeholder="Mes Extrato Fim" autofocus="autofocus"
                           th:field="*{mesExtratoFim}"/>
                </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
        </form>
    </div>
</section>
</body>
</html>